/* ====================================================
                DASHBOARD HEADER
==================================================== */

#dash-header {
  background-image: url('../CityAtSunset.jpeg');
  height: 80vh;
  min-height: 550px;
  width: 100%;
  text-align: center;
  background-position: stretch;
  background-size: cover;
  padding-top: 10px;
}

#dash-header-text {
  margin-top: 10%;
}

#dash-header-title {
  font-size: 5.5rem;
  color: rgba(255,255,255,0.9);
}

#dash-header-subtitle {
  font-size: 3rem;
  color: rgba(255,255,255,0.8);
}




/* ====================================================
                  MAIN PAGE STYLES
==================================================== */

.entire-dashboard {
  background-color: #f3dbd1;
  height: 100%;
}





/* ====================================================
                  DASHBOARD BUTTONS
==================================================== */

.btn-block:hover {
  opacity: 0.8;
  outline: none;
}

.dashboard-btn {
  margin-top: .5rem;
  background-color: #88AE9F;
  border: none;
  transition: 1s opacity ease;
  display: inline-block;
  width: 40%;
}

#button1 {
  margin-right: 5%;
}

#button2 {
  margin-left: 5%;
}





/* ====================================================
                  TRIP CARDS
==================================================== */

.label {
  padding: 10px;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  width: 90%;
  border-radius: 10px;
  margin: 20px auto;
}

#inputLarge {
  text-align: left;
  align-items: baseline;
}

.form {
  margin: 5px 0 0 0;
}

#exampletextarea {
  flex-grow: 2;
  width:100%;
  height: 100%;
  align-items: left;
}

.card-deck{
  margin: 20px;
  justify-content: space-around;
}

.card {
  margin: 10px;
  width: 30%;
  height: auto;
  font-size: 10px;
  text-align: center;
  padding: 2px;
  border: 1px solid #698DA0;
  background-color: rgba(255,255,255,0.7);
}

.card-header {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background-color: #698DA0;
  color: white !important;
}

.card-header:hover {
  text-decoration: none;
}

a.hover {
  text-decoration: none;
}

.card-subtitle {
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

.card-body {
  padding: 10px;
  margin: 5px;
  size: 1px;

}

.card-top {
  min-height: 80px;
  max-height: 80px;
}

.tripsImage {
  width: 98%;
  margin: 0 auto;
  padding: 2px;
  flex-direction: flex-start;
}

.dashboard-line {
  margin-left: 35px;
  margin-right: 35px;
}

div.card.dashboard-card {
  max-width: 30%;
  margin-top: 20px;
}

.link {
  text-decoration: none !important;
}





/* ====================================================
                MEDIA QUERIES
====================================================*/

@media (max-width: 1100px) {
  .dashboard-card {
    max-width: 100%;
    margin: 0 auto;
  }

  #dash-header-title {
    font-size: 4.5rem;
  }

  #dash-header-subtitle {
    font-size: 3rem;
  }

  div #dash-header {
    height: 80vh;
  }
}

@media (max-width: 575px) {
  #button1, #button2 {
    width: 90%;
    margin: 10px auto;
  }

  #dash-header-title {
    font-size: 3rem;
  }

  #dash-header-subtitle {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .dashboard-card {
    max-width: 100%;
    margin: 0 auto;
  }

  #dash-header-title {
    font-size: 50px;
  }

  #dash-header-subtitle {
    font-size: 25px;
  }

  #dash-header {
    height: 100vh;
  }
}
