.FormGroup {
  padding-left: 50px;
  padding-right: 50px;
  margin: 20px;
}

form {
  align-items: center;
  margin: 50px 0 0 100px;
}

.registerbutton {
  background-color: #88AE9F;
}

.register_form {
  justify-content: center;
  align-items: center;
  padding-left: -30px;
}
